@model IEnumerable<Event>

<h1> Events </h1>
<table>
    <tr>
        <th>Event Name&emsp;</th>
        <th>Event Date&emsp;</th>
    </tr>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.EventName&emsp;</td>
            <td>@e.EventDate&emsp;</td>
        </tr>
    }
</table>