@model EventViewModel
@{

    ViewData["Title"] = "Create Event";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TigerTix: @ViewData["Title"]</title>
</head>
<body>
    <h1>Event Info</h1>

    <form asp-action="Create" method="post">
        <div>
            <label asp-for="Name"></label>
            <br />
            <input asp-for="Name" class="form-control" />
        </div>
        <div>
            <label asp-for="Description"></label>
            <br />
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>  
        <div>
            <label asp-for="Date"></label>
            <br />
            <input asp-for="Date" class="form-control" type="datetime-local" />
        </div>
        <div>
            <label asp-for="BasePrice"></label>
            <br />
            <input type="number" min="1" step="any" asp-for="BasePrice" class="form-control"/>
        </div>
        <br />
        <input type="submit" value="Create" />
    </form>
</body>
</html>