@model CheckoutViewModel
@{
    Layout = "~/Views/Shared/_BannerLayout.cshtml";
    ViewData["Title"] = "Order Checkout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TigerTix: @ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <style>
        .name-item
        {
            width: 20%;
        }
    </style>
</head>
<body>
    <header>
        <h1>Enter payment information</h1>
        <p>TigerTix secure checkout</p>
    </header>
    <form asp-action="Checkout" method="post">
        <div class="form-group">
                <input type="text" class="name-item" placeholder="Credit card number" size="30"required><br>
                <input type="text" placeholder="Security code" size="5"required><br>
                <input type="date" placeholder="Expiration date" required>
        </div>
        <!-- Add fields for payment info here -->
        <input asp-for="UserId" class="form-control" type="hidden">
        <input asp-for="OrderId" class="form-control" type="hidden">
        <input type="submit" value="Purchase Tickets"/>
    </form>
</body>
</html>
