@model TicketViewModel
@{

    ViewData["Title"] = "Ticket Creation";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TigerTix: @ViewData["Title"]</title>
</head>
<body>
    <h1>Event Info</h1>

    <form asp-action="CreateTicket" method="post">
        <div><
            <label asp-for="CUID"></label>
            <br />
            <input asp-for="CUID" class="number" />
            <span asp-validation-for="CUID" class="text-danger"></span>
        <div>
        <br />
        <div>
            <label asp-for="SeatNumber"></label>
            <br />
            <input asp-for="SeatNumber" class="form-control" type="number" />
            <span asp-validation-for="SeatNumber" class="text-danger"></span>
        </div>
        <br />
        </div>
            <label asp-for="EventId"></label>
            <br />
            <input asp-for="EventId" class="form-control" type="number" />
            <span asp-validation-for="EventId" class="text-danger"></span>
        </div>
        <br />
        <input type="submit" value="Create" />
    </form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>