@model RegisterViewModel
    @{

        ViewData["Title"] = "Home Page";
    }

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>TigerTix: @ViewData["Title"]</title>
    </head>
    <body>
        <form asp-controller="" asp-action="Logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </body>
</html>
