@model RegisterViewModel
@{
    Layout = "~/Views/Shared/_BannerLayout.cshtml";
    ViewData["Title"] = "Sign-up";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TigerTix: @ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="~/css/main.css" rel="stylesheet">
    <style>
        .name-group
        {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 4px;
        }

        .name-item
        {
            width: 20%;
        }
    </style>
</head>
<body class="focus-container-background">
    <div class="focus-container">
        <div class="tt-logo">
            <span class="tt-logo-tiger">Tiger</span><span class="tt-logo-tix">Tix</span>
        </div>
        <h2>Sign up</h2>

        @if (!ViewData.ModelState.IsValid)
        {
            <ul class="error-list">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        }

        @* Begin form with anti-forgery token *@
        <form asp-action="Register" method="post">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <input 
                    type="text"
                    asp-for="UserName"
                    class="form-control"
                    placeholder="CUID"
                    required />

                <div class="name-group">
                    <input asp-for="FirstName" class="form-control name-item" placeholder="First Name" required />
                    <input asp-for="LastName" class="form-control name-item" placeholder="Last Name" required />
                </div>

                <input asp-for="Email" class="form-control" type="email" placeholder="Email" required />
                <input asp-for="Password" class="form-control" type="password" placeholder="Password" required />
                <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password" required />
            </div>

            <button type="submit" class="main-button-round">Sign up</button>
        </form>

        <div class="form-footer">
            <p class="footer-text">Already have an account? <a asp-area="" asp-controller="App" asp-action="Login" class="footer-text">Log in</a></p>
        </div>
    </div>
</body>
</html>
