@model IEnumerable<Event>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>
<h1> Events </h1>
<table>
    <tr>
        <th>Event Name&emsp;</th>
        <th>Month&emsp;</th>
        <th>Day&emsp;</th>
        <th>Year&emsp;</th>
    </tr>
    @foreach (var e in Model)
    {
        <tr>
            <td>@e.Name&emsp;</td>
            <td>@e.DateMonth&emsp;</td>
            <td>@e.DateDay&emsp;</td>
            <td>@e.DateYear&emsp;</td>
        </tr>
    }
</table>