@{
    var isAuthenticated = User.Identity?.IsAuthenticated;
    var currentPage = ViewContext.RouteData.Values["action"]?.ToString()?.ToLower();
}

<html>
    <body>
        <header id="TopBanner">
            <div id="TopBannerLeft">
                <div class="tt-logo">
                    <a href="/home" , class="NoHyperlinkUnderline">
                        <span class="tt-logo-tiger">Tiger</span><span class="tt-logo-tix">Tix</span>
                    </a>
                </div>
            </div>
            <div id="TopBannerRight">
                @if (isAuthenticated != true)
                {
                    <a href="/user/login" class="NoHyperlinkUnderline general-button-purple">Login</a>
                    <a href="/user/register" class="NoHyperlinkUnderline general-button-orange">Register</a>
                }
                else
                {
                    if (currentPage == "profile")
                    {
                        <a href="/user/logout" class="NoHyperlinkUnderline general-button-purple">Logout</a>
                    }
                    else
                    {
                        <a href="/user/profile" class="NoHyperlinkUnderline general-button-purple">My Account</a>
                    }
                    <a href="/user/tickets" class="NoHyperlinkUnderline general-button-orange">My Tickets</a>
                }
            </div>
        </header>
        <div class="banner-spacer"></div>
        <div>
            @RenderBody()
        </div>
    </body>
</html>